<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Listing Details:</h3>
    </div>
    <div class="card col-6 offset-2" style="width: 18rem;">
        <img class="card-img-top show-img" src="<%= listing.image %>" alt="Card image">
        
        
        
        <div class="card-body">
          <p class="card-text"><%= listing.title %></p><br>
          <%= listing.description %><br>
        &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
        <%= listing.location %><br>
        <%= listing.country %><br>
        </div>
      </div>
    <br>
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2> edit-btn">Edit</a>

    
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
    </form>
    </div>
</div>
</body>